<template>
  <div id="app">
    <!--<modal></modal>-->
    <div class="hero">
      <div class="hero-head">
        <navbar
        ></navbar>
      </div>

      <main class="hero-body">
        <home></home>
        <!--<right-sidebar class="column"></right-sidebar>-->
      </main>

      <my-footer class="hero-foot"></my-footer>
    </div>

  </div>
</template>

<script>

//  import Sidebar from './Layout/Sidebar.vue'
//  import RightSidebar from './Layout/RightSidebar.vue'
  import Navbar from './Layout/Navbar.vue'
  import Footer from './Layout/Footer.vue'
  import Home   from './views/Home.vue'
//  import Modal from './Layout/ModalCard.vue'

  export default {

    name: 'app',

    components: {
//      Sidebar,
//      RightSidebar,
      'navbar'    : Navbar,
     'Home': Home,
//      Modal,
      'my-footer' : Footer
    },

  }
</script>

<style>

  #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
