<template>
  <section class="main hero">
    <div class="header">
      <div class="header-content">
        <h1 class="title is-3 ">Planeje Sua Próxima Viagem</h1>

        <router-link :to="'/loja'"  class="button button-dark is-large">Comprar</router-link>
      </div>
    </div>
    <div class="body container">
      <div>
        <h1 class="title is-1">Novidades</h1>
        <hr>
        <div class="image-wrapper columns is-hidden-touch">
          <div class="column" @mouseover="hover1='Ver Mais'" @mouseleave="hover1='Bone 420'">
            <div class="image">
              <img src="" alt="product image">
              <a class="see-more"><p>{{hover1}}</p></a>
            </div>
          </div>
          <div class="column">
            <div class="image">
              <img src="" alt="product image">
              <a class="see-more"><p>Ver mais</p></a>
            </div>
          </div>
          <div class="column">
            <div class="image" @mouseover="hover2='Ver Mais'" @mouseleave="hover2='Blusa feminina'">
              <img src="" alt="product image">
              <a class="see-more"><p>{{hover2}}</p></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</template>

<script>

  export default {
    name: 'Home',

    data () {
      return {
        hover1: 'Bone420',
        hover2: 'Blusa Feminina'
      }
    },

    computed: {
      background(){
        return images.HOME_IMAGE
      }

    },

    mounted(){

    },
    methods : {

    }
  }
</script>

<style scoped lang="scss">
  .main{
  }
  .header{
    min-width: 100%;
    min-height: 35em;
    background-size: 100% 100%;
  }
  .header-content{
    white-space: pre-wrap;
    position: relative;
    width: 30%;
    padding: 6em;
    overflow: hidden;
    border: 1px solid #cbcbcb;
    margin: 0 auto;
    margin-top: 5em;

    background-color: rgba(255, 255, 255, 0.51);;
    opacity: 1;
  }
  .body{
    margin-top: 2em;
    padding: 0 !important;

  }


  .see-more{
    color: white;
    padding: 10em;
  }
  .see-more:hover{
    color: black;
  }
  @media only screen and (min-width: 992px) and (max-width: 1155px) {
    .header-content{
      width: 50%;

    }

  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-content{
      width: 80%;
      margin-top: 6em;

    }

  }
  /* Mobile Layout */
  @media only screen and (max-width: 767px){
    .header-content{
      width: 90%;
      padding: 0;
      padding-bottom: 2em;
      padding-top: 2em;
      margin-top: 6em;

    }

  }
</style>
