<template>
  <div>
    <div class="login-wrapper columns is-hidden-touch">
      <div class="column is-7 is-hidden-mobile image-login ">

      </div>
      <div class="column is-4 is-offset-1">
        <section class="hero is-fullheight">
          <div class="hero-heading">
            <div class="section has-text-centered">
              <!--<img src="./../../assets/puffpass.jpg" alt="Bulma logo" >-->
            </div>
          </div>
          <div class="hero-body">
            <login></login>
          </div>
        </section>
      </div>
    </div>
    <div class="is-hidden-desktop login-wrapper-mobile">
      <login></login>
    </div>
  </div>
</template>

<script>
  import {  mapGetters } from 'vuex'
  import Login from '../components/Cards/LoginCard'

  export default {
    name: 'UsersMain',

    components:{
      Login
    },

    computed:{
      ...mapGetters(['login']),
      loginStatus(){
        return this.login.login
      }
    },

    data () {
      return {
        auth: {
          email: null,
          password: null
        },
        authenticating: false
      }
    },

    mounted() {
    },

    watch :{
      loginStatus(){
        if(this.loginStatus)
          this.$router.push("/")
      }

    },
    methods : {
    }
  }
</script>

<style scoped lang="scss">
  .columns{
    margin-bottom: 0 !important;
  }
  .login-wrapper{
    min-height: 100% !important;
  }
  .image-login{
    /*background: url("../assets/weed.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  }
  .login-wrapper-mobile{
    width:90%;
    margin-left:5%;
    margin-top:5em;
  }

</style>
