<template>
  <section class="main hero store">
    <div v-if="pendingStatus">
      <pulse-loader></pulse-loader>
    </div>
    <template v-else>
      <div class="header">
        <h1 class="title">Loja</h1>
      </div>

      <div class="columns" >
        <div class="column is-3 is-hidden-mobile" >
          <side-filter></side-filter>
        </div>
        <div class="column is-8">

          <div class="columns products-wrapper" v-for="chunckProducts in chunkedProducts">

            <div v-for="product in chunckProducts" class="column product-wrapper" >
                <router-link :to="{path: '/loja/'+product._id}">
                  <img :src="product.image_url" alt="product image">
                </router-link>
              <div class="quick-look" @click="setModal(product)">
                <a>Vizualização Rápida</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="is-centered">
        <pagination></pagination>
      </div>
    </template>
  </section>
</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'
  import {TOGGLE_MODAL} from '../store/mutations'
  import chunk from 'chunk'
  import Pagination from '../components/Utils/Pagination.vue'
  import ProductModal from '../components/Products/ProductModal'
  import ShoppingCart from '../components/ShoppingCart/ShoppingCart.vue'
  import PulseLoader from 'vue-spinner/src/ClipLoader'
  import SideFilter from '../components/Utils/SideFilter.vue'
  const NUMBER_OF_PRODUCTS_PER_LINE = 3;
  export default {
    name: 'Home',

    components:{
      Pagination,
      ShoppingCart,
      PulseLoader,
      SideFilter,
    },
    data () {
      return {
        products: [],
        numberOfLines: 0,
        quickProductModalOpen : false,
        productModal: {
          title: 'produto',
          product:{
            name: null,
            price: null,
            description: null,
            image_url: null,
          }
        }
      }
    },

    created () {
    },

    computed: {
      ...mapGetters({
        allProducts: 'allProducts',
        pendingStatus : 'productPendingStatus'
      }),

      chunkedProducts(){
        this.products = []

        for(let id in this.allProducts){

          this.products.push(this.allProducts[id])
        }

        return chunk(this.products,NUMBER_OF_PRODUCTS_PER_LINE)
      }

    },

    mounted(){
    },
    methods : {
      ...mapMutations({
        toggleModal: TOGGLE_MODAL
      }),
      openProductModal(product){
        this.productModal.product = product
        this.quickProductModalOpen = !this.quickProductModalOpen

      },
      setModal(product){
        const data = {
          title: 'Produto '+product.name,
          data: product,
          status: true,
          component: ProductModal,
          submitButton: "",
          closeButton: "Fechar"
        }
        this.toggleModal(data)
      }

    }
  }
</script>

<style scoped lang="scss">

  .store{
    width: 80%;
    margin-left: 10% !important;
  }
  .column{
    margin:0;
    padding: 0em;
    line-height: 0.5;
  }
  .main{
    margin-top: 5em;
  }

  .quick-look{
    min-height: 50px;
    width: 100%;
    margin: 0;
    padding: 1em;
    background: rgb(48,49,50);
    border-radius: 2%;
  }
  .quick-look a{
    line-height: 1.3em;
    padding: .5em;
    color: white;
  }
  .quick-look:hover a{
    color: black;
    height: 100%;
  }
  .image-wrapper{
    min-height: 200px;
    background: #b5b5b5;
    border: 1px solid gray;
  }
  .product-wrapper{
    padding: 1em;
  }
  .no-padding{
    padding: 0;
  }
</style>
